{{#if model.record.id}}
  <h1 class="page-header">Editar projeto {{truncate-text model.record.title limit=30}}</h1>
{{else}}
  <h1 class="page-header">Cadastrar projeto</h1>
{{/if}}

<form {{action "save" model.record model.alias on="submit"}}>
  <div class="row">
    <div class="col-md-8">

      <div class="panel panel-default">
        <div class="panel-heading">{{t 'content.form.terms.Data'}}</div>
        <div class="panel-body">
          <fieldset>
            <div class="form-group">
              <label>{{t 'form-content-title'}}*:</label>
              {{input value=model.record.title class="form-control" placeholder=(t 'form-placeholder-content-title') required="required"}}
            </div>
            <div class="form-group">
              <label>{{t 'form-content-about'}}:</label>
              {{textarea value=model.record.about class="form-control"}}
              <p class="help-block">Texto resumido que aparece nas listas e quando a página do projeto é compartilhada nas redes sociais</p>
            </div>
            <div class="form-group">
              <label>{{t 'form-content-body'}}:</label>
              {{field-text-editor value=model.record.body}}
              <p class="help-block">Texto completo com informações sobre o projeto</p>
            </div>
          </fieldset>
        </div>
      </div>

      <div class="panel panel-default">
        <div class="panel-heading">{{t 'content.form.terms.Images'}}</div>
        <div class="panel-body">
          <fieldset>
            <div class="form-group">
              <label>{{t 'form-content-featuredImage'}}:</label>
              {{image-uploader value=model.record.featuredImage}}
              <p class="help-block">Imagem de destaque que aparece quando o projeto é compartilhado nas redes sociais.</p>
            </div>
            <div class="form-group">
              <label>{{t 'form-content-images'}}:</label>
              {{image-uploader value=model.record.images multiple=true}}
              <p class="help-block">Galeria de imagens que aparece na página do projeto.</p>
            </div>
          </fieldset>
        </div>
      </div>

      <div class="panel panel-default">
        <div class="panel-heading">{{t 'content.form.terms.Attachment'}}</div>
        <div class="panel-body">
          <fieldset>
            <div class="form-group">
              <label>{{t 'form-content-attachment'}}:</label>
              {{file-uploader value=model.record.attachment multiple=true}}
            </div>
          </fieldset>
        </div>
      </div>
    </div>

    <div class="col-md-4">

      <div class="panel panel-default">
        <div class="panel-heading">{{t 'content.form.terms.Title'}}</div>
        <div class="panel-body">
          <fieldset>
          {{!--             <div class="form-group">
              <label>{{t 'form-content-category'}}:</label>
              {{#power-select
                options=model.categories
                selected=model.record.category
                onchange=(action (mut model.record.category))
                as |term|
              }}
                {{term}}
              {{/power-select}}
            </div> --}}
            <div class="form-group">
              <label>{{t 'form-content-tags'}}:</label>
              {{#power-select-multiple
                search=(action "searchTagsTerms")
                selected=model.record.tags
                onchange=(action (mut model.record.tags))
                as |term|
              }}
                {{term}}
              {{/power-select-multiple}}
            </div>
          </fieldset>
        </div>
      </div>

      <div class="panel panel-default">
        <div class="panel-heading">Publicação</div>
        <div class="panel-body">
          <fieldset>
            {{field-content-publication class="form-group" publicationDate=model.record.publishedAt isPublished=model.record.published}}
          </fieldset>
        </div>
      </div>

      {{#if model.record.id}}
        <div class="panel panel-default">
          <div class="panel-heading">URL</div>
          <div class="panel-body">
            <div class="form-group">
              <label>URL de acesso*:</label>
              {{input name="setAlias" value=model.alias.alias class="form-control" placeholder="Ex /sobre" }}
              <p class="help-block">URL/caminho de acesso à página, use um texto simples sem espaço ou acentuação. Ex /sobre</p>
            </div>
          </div>
        </div>
      {{/if}}
    </div>

    <div class="col-md-12">
      <div class="footer-actions">
        <button class="btn btn-primary">
          <i class="fa fa-save"></i>
          Salvar
        </button>
        <button class="btn btn-default" {{action 'saveAndPublish' model.record model.alias}} type="button">
          <i class="fa fa-save"></i>
          Salvar e publicar
        </button>
        <button {{action 'goTo' 'projects.index'}} type="button" class="btn btn-default">
          <i class="fa fa-step-backward"></i>
          Lista de projetos
        </button>
      </div>
    </div>
  </div>
</form>
